body{
    width: 100vw;
    height: 100vh;
    background-color: #52575D;
    color: #DFD8C8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 5px 5px;
    background-color: #fff;
    color: black;
}

button{
    padding: 8px 8px;
    background-color: #fff;
    color: black;
    border: none;
}